.expense-tracker {
    padding: 15rem 3rem;
}

.expense-tracker__heading {
    margin-bottom: 8rem;
}

.expenses-list {
    background-color: var(--color-green-0);
    padding: 5rem 3rem;
}

.expense-filter-area {
    background-color: var(--color-blue-0);
    padding: 3rem 1rem;
    margin-bottom: 3rem;
}
