.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--color-blue-0);
}

.expense-item:not(:last-of-type) {
    margin: 0 0 5rem 0;
}

.expense-item__description {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.expense-item__title {
    font-size: 1.8rem;
    flex-grow: 1;
    color: var(--color-white-0);
}

.expense-item__title h3 {
    align-self: center;
}

.expense-item h2 {
    font-size: 1.8rem;
    flex: 1;
    margin: 0 1rem;
    color: var(--color-white-0);
}

.expense-item__price {
    min-width: 20rem;
    background-color: var(--color-pink-0);
    border: 1px solid var(--color-white-0);
    padding: 0.5rem;
    border-radius: 12px;
    align-self: stretch;
    justify-self: center;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.expense-item__price h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-white-0);
}

.expense-list__item{
    margin-bottom: 3rem;
}

@media (max-width: 580px) {
    .expense-item {
        flex-flow: column nowrap;
        align-items: center;
        padding: 4rem 0;
    }

    .expense-item__description {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        margin: 1rem 1rem;
    }

    .expense-item__description h2 {
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
    }

    .expense-item__price {
        font-size: 1.8rem;
        padding: 2rem 1.5rem;
    }

    .expense-item__title {
        line-height: 3;
        flex-grow: 0;
    }
}

