body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading, h1, h2, h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}
